<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Product_Catalog_User_Interface.Properties.Settings.ERP_DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-OJN9Q0B\SQLEXPRESS;Initial Catalog=&quot;ERP Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Product_Catalog_User_Interface.Properties.Settings.Master_SheetsConnectionString"
            connectionString="Data Source=DESKTOP-E0ADHLC\SQLEXPRESS;Initial Catalog=&quot;Master Sheets&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>